body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

/* header */
.header_info {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    padding: 41px 240px 0px 240px;
    gap: 97px;
}

/* .half {
    /* width: 50%; */
/* border: 2px solid red; */


header {
    /* border: 2px solid lime; */
    width: auto;
    height: 564px;

    background-color: rgba(229, 84, 115, 0.1);
}


.header_title h1 {

    color: #272727;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 32px;
}

.header_title p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 32px;
    line-height: 20px;
}

.header_info button {
    width: 100px;
    color: #FFF;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    padding: 12px 12px;
}

.header_img {
    margin-top: 2px;
    width: 100%;
}

/* navbar */
/* .nav_bar {
    margin: auto 0px;
    /* border: 2px solid rgb(255, 242, 0); */

.nav_bar ul {
    padding: 12px;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    height: 70px;
    /* border: 2px solid red; */
    align-items: center;


}

.nav_bar ul li {
    padding: 10px;
    border-radius: 8px;
    /* border: 2px solid red; */
    list-style: none;
    background-color: #E55473;
}

.nav_bar ul li a {
    color: #FFFF;
    font-weight: 700;
    text-decoration: none;
}

/* header done */

/* main start */
main {
    border: 2px solid red;
}

section {
    border: 2px solid rgb(128, 255, 0);
}

.main_info {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured_flowers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
}

.featured_text {
    border: 2px solid red;
    width: 500px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 48px;
}

.featured_text p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.featured_img {
    gap: 24px;
    display: flex;
    border: 2px solid rgb(242, 0, 255);

}

.tree {

    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(0, 255, 21);

}

.tree a {
    color: #272727;
    margin-top: 32px;
}

.tree_img_6 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

    width: 300px;
    height: 300px;
    /* border: 2px solid rgb(255, 68, 0); */
}

.tree_img_5 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 300px;
    height: 300px;
    /* border: 2px solid rgb(255, 68, 0); */
}

.tree_img_7 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

    width: 300px;
    height: 300px;
    /* border: 2px solid rgb(255, 68, 0); */
}

.tree_img_6 .pw6 {
    /* padding: 95px 90px; */
    margin: 94px 60px 0px 60px;
    width: 50%;

}

.tree_img_5 .pw5 {
    /* padding: 95px 90px; */
    margin: 94px 60px 0px 80px;
    width: 50%;

}

.tree_img_7 .pw7 {
    width: 50%;
    margin: 74px 60px 0px 60px;
}

/*  delivery_local_support*/

.delivery_local_support-container {
    margin-top: 120px;
    width: 971px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

.delivery_local_support {
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
    padding: 40px 100px 40px 100px;
    gap: 70px;
}

.dls p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    line-height: 35px;
}

.dls {
    width: 900px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dls img {
    width: 80px;
    height: 80px;
}